@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #030413;
	color: white;
	scroll-behavior: smooth;
}
.header {
	@apply w-max mx-auto my-0 text-center flex items-center justify-between px-2;
	height: 10vh;
}
.nav-right {
	@apply flex items-center;
}

.nav-list {
	@apply flex mr-2;
}

.nav-list li {
	@apply px-4 cursor-pointer font-semibold;
}

button {
	height: 51px;
	font-size: 16px;
	line-height: 110%;
	padding: 1px 12px !important;
	border-radius: 7px;
	border: 0px;
	font-weight: 700 !important;
	cursor: pointer;
}

.button1 {
	background: blue;
}

.button2 {
	background: rgb(1, 66, 15);
}

.form {
	@apply mx-auto flex min-w-fit flex-col rounded-lg px-12 py-4;
	border: 1px solid red;
	border-top: 7px solid rgb(1, 66, 15);
	transition: var(--transition);
}
h1 {
	font-size: 2rem !important;
	text-align: center;
	margin: 3vh 1vw;
}

@media only screen and (max-width: 800px) {
	.landing-right {
		display: none;
	}
}

.alert-danger {
	background: #842029;
}
.alert-success {
	background: #0f5132;
}
.dash-list li {
	@apply py-2 px-7 inline-flex gap-4;
}
.dash-list li svg {
	font-size: 1.5rem;
}
.active {
	@apply bg-sky-500;
}
@media only screen and (max-width: 720px) {
	.nav-right {
		display: none;
	}
	.logo {
		margin: 0 auto;
	}
	.header {
		height: 5vh;
	}
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
